.top-spacer {
    margin-top: 40px;
}

.top-spacer__middle {
    margin-top: 20px;
}

.top-spacer__small {
    margin-top: 10px;
}

.apply-block {
    display: inline;
}

.small-button__text {
    font-size: 20px;
}

.b-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(255, 255, 255, 0.5);
}

.b-popup .text {
    font-size: 18px;
}

.b-popup input {
    width: 100%;
    margin: 0 0 10px 0;
    border-width: 0;
    border-bottom: solid 4px #d8d8d8;
    padding: 10px;
    display: inline-block;
    transition: 250ms;
}

.b-popup input:hover {
    border-color: #358af0;
}

.b-popup input:focus {
    border-color: #358af0;
}

.b-popup-frame {
    pointer-events: all;
    z-index: 20;
    border: 4px solid #358af0;
    background: #fff;
    width: 500px;
    margin: auto;
    margin-top: 150px;
    padding: 20px;
}

.reg-expectations {
    width: 100%;
}

.b-popup-window {
    position: relative;
}

.b-popup-window-head .js-close {
    position: absolute;
    top: -27px;
    right: -71px;
    display: block;
    width: 40px;
    height: 40px;
    background: url('../images/icon-close.png');
    background-size: 100% 100%;
}

.close-icon {
    position: absolute;
    left: 72%;
    top: -31px;
    display: block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: url('../images/icon-close.png');
    background-size: 100% 100%;
}

.registration {
    padding-top: 84px;
    padding-bottom: 50px;
}

.registration-form .row {
    margin: 0;
    text-align: left;
    padding: 20px 0;
}

.registration-form .row .error-message {
    width: 100%;
    display: inline;
}

.registration-form .row label {
    width: 20%;
    padding: 14px;
    text-align: right;
}

.registration-form .row input {
    width: 60%;
    margin-right: 20%;
    margin-bottom: 9px;
    border-width: 0;
    border-bottom: solid 4px #d8d8d8;
    padding: 10px;
    display: inline-block;
    transition: 250ms;
}

.registration-form .row textarea {
    width: 60%;
    height: 140px;
    margin-right: 20%;
    border: solid 4px #d8d8d8;
    padding: 10px;
    display: inline-block;
    transition: 250ms;
}

.registration-form .row .error-wrapper {
    width: 60%;
    margin-right: 20%;
}

.registration-form .row .error-message {
    display: none;
}

.registration-form .row .active .error-message {
    display: inline;
}

.registration-form .submit-row {
    text-align: left;
}

.registration-form .submit-row button:disabled {
    background: #e2e2e2;
    border-color: #d4d4d4;
    color: #fff;
}

.registration-form .submit-row .button {
    margin-left: 20%;
}

.registration-form .row select {
    width: 100%;
    margin-right: 20%;
    margin-bottom: 9px;
    border: solid 4px #d8d8d8;
    padding: 10px;
    display: inline-block;
    transition: 250ms;
    background: #fff;
}

.registration-form .row .error-wrapper input{
    width: 100%;
}

.registration-form .row input:focus {
    border-color: #3b8ced;
}

.registration-form .row select:focus {
    border-color: #3b8ced;
}

.registration-form .row .error-wrapper .app2-development-experience-duration{
    transition: 0ms;
}

.registration-form .row .active .app2-development-experience-duration{
    margin-right: 20%;
    margin-bottom: 8px;
}

.app2-development-experience-remove{
    margin-left: 0;
    position: relative;
}

.registration-form .input-block {
    width: 80%;
}

.registration .privacy-confirm {
    width: 60% !important;
    margin-left: 20% !important;
}

.registration-form .input-block select {
    float: left;
    margin: 0 2% 0 0;
}

.registration-form .input-block input {
    float: left;
    margin: 0 2% 0 0;
}

.registration-form .input-block .day {
    width: 10% !important;
}

.registration-form .input-block .month {
    width: 30%;
}

.registration-form .input-block .year {
    width: 30%;
}

.registration-form .radio-column {
    width: 80%;
    text-align: left;
    padding: 10px 0;
}

.registration-form .radio-column input {
    width: auto;
    margin: 0;
    padding: 0;
}

.registration-form .radio-column .radio-row__item {
    margin: 0 0 5px 0;
}

.registration-form .radio-column .radio-row__item label {
    padding: 0;
    padding-left: 10px;
}

.registration .radio-column label {
    width: auto;
    margin: 0;
    padding-left: 10px;
}

.registration .row .outer {
    right: 0;
    width: 200px;
    text-align: left;
    padding: 5px 0;
}

.registration .row .outer input {
    margin: 0;
    width: auto;
}

.registration .row .outer .input-radio {
    width: auto;
    float: none;
    margin: 0;
}

.registration .dev_exp-block {
    width: 80%;
}

.registration .dev_exp-block select {
    width: 35%;
    margin: 0;
}

.registration .dev_exp-block select:last-child {
    margin-left: 4%;
}

.registration .radio-block {
    padding: 14px 0;
}

.registration-steps h5 {
    font-size: 19px;
    color: #3b8ced;
}

.registration-steps {
    margin: 0;
}

.registration-steps .col {
    width: 50%;
    padding: 0 5px;
}

.registration-steps .active-step {
    color: #fc1053;
}

@media only screen and (max-width: 540px) {
    .registration-steps .col {
        width: 100%;
    }
}

@media only screen and (min-width: 1000px) {
    .registration-steps h5 {
        font-size: 19px;
        color: #3b8ced;
    }

    .registration-steps .col {
        width: 25%;
        padding: 0 5px;
    }
}

@media only screen and (max-width: 1100px){
    .menu__user-menu{
        background: #3b8ced;
    }

    .menu__user-menu a{
        color: #fff;
    }

    .menu__user-menu button{
        color: #fff;
    }

    .menu__user-menu .user-menu__name{
        display: inline-block !important;
    }

    .menu__user-menu .trigger-login{
        color: #fff;
    }
}


@media only screen and (min-width: 1101px) {
    .subheader .user-menu__btn-content{
        padding-left: 20px;
    }
}

.footer__site-wrap .footer__site{
    color: #000;
}

.header__menu .menu__item{
    line-height: 34px;
}

.registration-button{
    width: 100%;
}

.additional-login .icon-brain{
    background: url(../images/it-logo-black-3.png);
    background-size: 130%;
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    top: 8px;
}

.user-white-link{
    display: inline;
    color: #fff;
    text-decoration: none;
}

.user-black-link{
    display: inline;
    color: #000;
    text-decoration: none;
}

#popup-login .b-form-row{
    margin: 20px 0;
}

.popup-login-restore {
    display: none;
}

.input-login input {
    border: solid 4px #fc1053;
}

.input-login input:hover {
    border-color: #fc1053;
}

.b-form-row .remember-me-checkbox{
    width: auto;
    border: solid 5px #ff0000;
}

.b-form-row .management-links{
    float: right;
    text-align: right;
}

.login-popup-link{
    text-decoration: none;
    color:#3b8ced;
    line-height: 20px;
}

.login-popup-link:hover{
    color: #82b9ed;
}

.input-login{
    margin-top: 40px;
}

.registration-form .required-fields{
    margin: 15px 0 15px 20%;
}

.field_development_experience_add{
    color: #3b8ced;
    text-decoration: none;
}

.field_development_experience_add:hover{
    color: #86b1ed;
}

/* bug report form */

#popup-bug-report .js-close {
    top: 40px;
    right: 70px;
}

#popup-bug-report .popup__form {
    padding-top: 0;
}

.bug-report__form-errors {
    font-weight: bold;
    font-size: 20px;
}

.bugreport-form .form__fields .form__field {
    margin-bottom: 40px;
}

.no-new-line {
    white-space: nowrap;
}

.bugreport-form .form__fields .form__field img {
    position: absolute;
    right: 0;
    bottom: 10px;
    height: 50px;
}

.bugreport-row {
    width: 100%;
    color: #fff;
    margin: 5px 0;
    font-size: 15px;
}

.bugreport-row input::-webkit-input-placeholder {
    color: #fff;
}

.bugreport-row input::-moz-placeholder {
    color: #fff;
}

/* Firefox 19+ */
.bugreport-row input:-moz-placeholder {
    color: #fff;
}

/* Firefox 18- */
.bugreport-row input:-ms-input-placeholder {
    color: #fff;
}

.bugreport-row textarea::-webkit-input-placeholder {
    color: #fff;
}

.bugreport-row textarea::-moz-placeholder {
    color: #fff;
}

/* Firefox 19+ */
.bugreport-row textarea:-moz-placeholder {
    color: #fff;
}

/* Firefox 18- */
.bugreport-row textarea:-ms-input-placeholder {
    color: #fff;
}

.bugreport-row input {
    width: 100%;
    color: #fff;
    border-width: 0;
    border-bottom: solid 4px #fff;
    background: #358af0;
}

.bugreport-row textarea {
    width: 100%;
    color: #fff;
    background: #358af0;
    border-width: 0;
    border-bottom: solid 4px #fff;
    height: 150px;
}

.bugreport-row .captcha {
    width: 100px;
}

select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../images/arrowdown.gif') no-repeat 99% 50% !important;

}

.bugreport-row select {
    width: 100%;
    border: solid 4px #d8d8d8;
    padding: 5px;
    display: inline-block;
    transition: 250ms;
    background: #fff;
    border-radius: 0;
}

.bugreport-row-submit {
    margin-top: 15px;
}

.bugreport-row-submit button:disabled {
    background: #e2e2e2;
    border-color: #d4d4d4;
    color: #fff;
}

.bugreport-row-submit button:disabled .button__icon {
    fill: #fff;
}

.bugreport-form .error-message {
    display: none;
}

.bugreport-form .active .error-message {
    display: inline;
    position: absolute;
    right: 0;
    bottom: 10px;
}

.e404-options {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

.e404-options a {
    font-size: 25px;
    display: inline-block;
    width: 30%;
    color: #3b8ced;
}

.user-link {
    color: #3b8ced;
    margin-right: 15px;
}

.authenticated-user-modal {
    position: absolute;
    right: 0;
    top: 110px;
    background: #fff;
    padding: 10px;
    margin-right: 30px;
    -webkit-margin-end: 0;
}

@media only screen and (min-width: 1025px) {
    .header__wrap {
        position: relative;
    }
}

@media only screen and (max-width: 1025px) {

    .authenticated-user-modal {
        right: 33px;
    }
}

.bugreport-row .error-message {
    display: none;
}

.bugreport-row .active .error-message {
    display: inline;
}

.brainless span {
    margin-left: 34px !important;
}

.button-wide {
    width: 100%;
    margin-right: 40px;
    font-size: 24px !important;
    max-width: 350px;
}
.footer__version{
    color: #909090;
}
.timeslot-select {
    width: 100%;
    border: solid 4px #d8d8d8;
    padding: 10px;
    display: inline-block;
    transition: 250ms;
    background: #fff;
    margin-right: 10px;
    min-width: 200px;
}
.timeslot-form label {
    width: 20%;
    padding: 14px;
    text-align: right;
}
.timeslot-form__row {
    margin-bottom: 10px;
}
.timeslot-form__submit {
    display: inline-block;
    margin-left: 14px;
}
.timeslot-form__submit.disabled {
    background: #e2e2e2;
    border-color: #d4d4d4;
    color: #fff;
}
.timeslot {
    margin-top: 30px;
}

.registration-form .radio-row__item .user-referer{
    display: none;
    margin: 15px 0 15px 49px;
}

.programm-cards__title .title:before {
    position: absolute;
    top: -2px;
    left: -20px;
    content: '«';
}

.programm-cards__title .title:after {
    content: '»';
}

.entry__course:before {
    position: absolute;
    top: -2px;
    left: -23px;
    font-family: Roboto Mono,monospace;
    font-size: 36px;
    font-weight: 700;
    content: '«';
}

.cancel_subscribe_content {
    margin-top: 56px;
    margin-bottom: 13px;
}

.footer__site-link{
    color: #358af0;
    text-decoration: none;
}

.footer__site-link:hover{
    color: #fc1053;
}

.dropdown ol{
  list-style-type: decimal;
  margin: 20px 0;
}
.dropdown li{
  margin: 10px 0;
  position: relative;
  left: 30px;
}

.dropdown{
  margin: 10px;
  display: none;
}

.stage-block{
  margin-left: 10px;
}

.stage-block{
  padding: 10px 0;
}

.stage-block a{
  display: block;
}

.numeric-list li{
  list-style-type: decimal;
  margin: 10px 0;
  position: relative;
  left: 40px;
}

.numeric-list li a{
  display: inline;
}

@media only screen and (max-width: 1280px) {
    .menu__list {
        height: 150px !important;
    }
}

@media only screen and (max-width: 1800px) {
    .menu__list {
        height: 150px !important;
    }
}

.menu_sub .menu__list {
    width: 75% !important;
}

@media only screen and (max-width: 1440px) {
    .menu_sub .menu__list {
        width: 80% !important;
    }
}

@media only screen and (max-width: 1260px) {
    .menu_sub .menu__list {
        width: 100% !important;
    }
}

.gray-enable {
    filter: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter ….3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale');
    filter: gray;
    -webkit-filter: grayscale(100%);
}
